<div class="container">

    <div class="row row-title">
        <h3>My Weather App</h3>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-12">

            <form #formElement="ngForm"
                  (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="zipcode">
                        Enter a zipcode:
                    </label>
                    <input class="form-control"
                           id="zipcode"
                           name="zipcode"
                           type="text"
                           #inputZipcode="ngModel"
                           [(ngModel)]="zipcode"
                           required>
                    <p style="color: red"
                       *ngIf="inputZipcode.touched && inputZipcode.invalid">
                        Please enter a valid zipcode!
                    </p>
                    <button type="submit"
                            class="btn btn-primary btn-add"
                            [disabled]="formElement.invalid">
                        Add
                    </button>
                </div>
            </form>

            <br>
            <hr>
            <br>

            <div *ngFor="let zip of zipcodes" style="display: flex; align-content: space-between; width: 100%">
                <p>{{ zip }}</p>
                <button (click)="removeZipcode(zip)">X</button>
            </div>

        </div>
    </div>

</div>
