.row-title {
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    border: 1px solid lightgray;
    padding: 16px;
    margin-bottom: 32px;
}

input.ng-touched.ng-invalid {
    border: 1px solid red;
}

input.ng-touched.ng-valid {
    border: 1px solid greenyellow;
}

.btn-add {
    margin-top: 12px;
}
